<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LabTrack</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/opportunities">🔬 LabTrack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <% if (user && user.userId) { %>
          
          <li class="nav-item">
  <a class="nav-link" href="/opportunities">Opportunities</a>
</li>

<% if (user && user.role === 'student') { %>
<li class="nav-item">
  <a class="nav-link" href="/applications/my">My Applications</a>
</li>
<% } %>

<% if (user && user.role === 'professor') { %>
<li class="nav-item">
  <a class="nav-link" href="/applications/manage">Applications</a>
</li>
<% } %>

<li class="nav-item">
  <a class="nav-link" href="/showcase">🏆 Showcase</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/notifications" id="notifLink">
    🔔 <span id="notifCount" class="badge bg-danger" style="display:none"></span>
  </a>
</li>

          <% if (user.role === 'professor') { %>
          
          <li class="nav-item">
            <a class="nav-link" href="/opportunities/post">Post Opportunity</a>
          </li>
          <% } %>

          <li class="nav-item">
            <a class="nav-link" href="/auth/profile">👤 <%= user.name %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/auth/logout">Logout</a>
          </li>

        <% } else { %>
          
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>